<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Book Store</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
<div class="container">
	<h2 align="center">Welcome to Book Stores.....!!!!!</h2>
	<div class="book_store">
		<div class="card-group">
  <div class="card">
    <img src="{% static 'img/c.png'%}" class="card-img-top" alt="C">
  </div>
  <div class="card">
    <img src="{% static 'img/java.png'%}" class="card-img-top" alt="JAVA">
  </div>
  <div class="card">
    <img src="{% static 'img/php.png'%}" class="card-img-top" alt="PHP">
  </div>
  <div class="card">
    <img src="{% static 'img/python.png'%}" class="card-img-top" alt="PYTHON">
  </div>
</div>
	</div>
	<p>
		ThankYou For Visiting ,Jus Its Dummy Page To Deployeing
	</p>
</div>
</body>
</html>